# Change this depending on the battery in /sys/class/power_supply/
battery="BATT"

has_battery() {
    if [ -d "/sys/class/power_supply/$battery" ]; then
        return 0
    fi
    return 1
}

get_status() {
    charging=""
    acpi | grep -q "Charging" && charging="" || charging=""

    ping -c 1 "8.8.8.8" > /dev/null 2>&1 && ping="󰖩" || ping="󰤮"

    brightness=$(get_brightness)
    charge=$(cat "/sys/class/power_supply/$battery/capacity")"%"
    echo "$charging$charge |$ping |$brightness |$(get_datetime)"
}

get_datetime() {
    date +" %a %d %b %Y | 🕓 %I:%M %p %Z"
}

get_brightness() {
    brightness=$(cat "/sys/class/backlight/amdgpu_bl0/brightness")
    brightness=$((brightness * 100 / 255))
    echo $brightness
}

get_volume() {
    pamixer --get-volume-human
}

while true; do
    xsetroot -name "$(get_status)"
    sleep 0.5s
done &


# autostart
~/.fehbg &
